<div class="footer">
    <div class="footer__container flb-cs">


        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
        <img src="img/logo-fonbet.svg" width="143" alt="fonbet" class="footer__logo1">
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <svg class="footer__icon">
            <use xlink:href="#icon-play"></use>
        </svg>
        <img src="img/logo-2dots.svg" width="40" alt="2dots" class="footer__logo2">
    </div>
</div>