<section class="intro__section" id="intro">
    <div class="intro__section-header">
        <div class="intro__section-header_container container-fluid flb-cs">
            <img src="img/logo-unionbig.svg" width="224" alt="fonbet-2drots" class="intro__section-logo">
            <nav class="intro__section-nav">
                <a href="#intro" class="yakar">О проекте</a>
                <a href="#drops" class="yakar">Дропы</a>
            </nav>
            <div></div>
        </div>
    </div>
    <div class="intro__section-infocontainer container-fluid flb-sb">
        <div class="intro__section-openfirst">
            <!-- <img src="img/openfirst-oval-shadow.svg" width="484" alt="Открывай Первым"> -->
            <img src="img/openfirst-oval.png" width="171" height="74" alt="Открывай Первым">
        </div>
        <div class="intro__section-lcolumn">
            <div class="intro__section-smltitle">
                <div>FONBET X 2DROTS</div>
                <div>TOPDROPS</div>
                <div>ОТКРЫВАЙ ПЕРВЫМ</div>
            </div>
            <div class="intro__section-smltitle">
                <div>FONBET X 2DROTS</div>
                <div>TOPDROPS</div>
                <div>ОТКРЫВАЙ ПЕРВЫМ</div>
            </div>
        </div>
        <img src="img/intro-gifvideo.gif" alt="TOP" class="intro__section-giftvideo">
        <div class="intro__section-rcolumn">
            <div class="intro__section-content">
                <p>
                    Серия спортивных экспериментов от FONBET 
                    и 2DROTS. Проекты, которые сделают болельщиков частью медиакоманды. 
                    Это новый уровень коммьюнити — мы узнаем себя и футбол с непредсказуемых сторон
                </p>
                <p>
                    Подписывайся на дропы, следи 
                    за обновлениями, собирай впечатления 
                    и артефакты. Премьера TOPDROP#001 — скоро. 
                </p>
            </div>
            <button class="intro__section-playvideo btn btn-primary play-video-popup" data-video="files/popup-video1.mp4">Cмотреть трейлер</button>
        </div>
    </div>
</section>
