<div class="leftsidebar">
    <div class="leftsidebar__head flb-sb">
        <div class="leftsidebar__head-row flb-sb als">
            <div class="leftsidebar__head-nubmer">
                <div>1994</div>
                <div>2021</div>
                <div>2024</div>
            </div>
            <img src="img/icon/plus-black.svg" width="10" height="10" alt="icon-plus" class="leftsidebar__head-iplus">
        </div>
        <div class="leftsidebar__head-row flb-sb als is-mirror">
            <div class="leftsidebar__head-nubmer">
                <div>1994</div>
                <div>2021</div>
                <div>2024</div>
            </div>
            <img src="img/icon/plus-black.svg" width="10" height="10" alt="icon-plus" class="leftsidebar__head-iplus">
        </div>
    </div>
    <div class="leftsidebar__uplayers">
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img1.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img2.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img3.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img4.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img5.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img6.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img7.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img8.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img9.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img10.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img11.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img1.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img2.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img3.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img4.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img5.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img6.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img7.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img8.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img9.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img10.png" width="42" alt="uplayers-card">
        </div>
        <div class="leftsidebar__uplayers-card">
            <img src="img/leftsidebar/player-img11.png" width="42" alt="uplayers-card">
        </div>
    </div>
</div>