<div class="topdrops__section" id="drops">
    <div class="topdrops__section-container container-fluid">
        <div class="topdrops__section-header flb-ss">
            <img src="img/topdrops/title-logo.svg" width="554" height="81" alt="topdrops" class="topdrops__section-header_logo">
            <div class="topdrops__section-header_text">
                Три дропа-эксперимента. Следи за новостями, регистрируйся и стань частью TOPDROPS.
            </div>
        </div>
        <div class="topdrops__flexlistcard flb-ss">
            <div class="topdrops__card">
                <div class="topdrops__card-header flb-cc">
                    <div class="topdrops__card-title">Champions <br> party</div>
                    <div class="topdrops__card-subtitle">Вечеринка по случаю финала Лиги Чемпионов</div>
                </div>
                <figure class="topdrops__card-img">
                    <svg class="topdrops__card-img_blur" width="493" height="552" viewBox="0 0 493 552" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter1_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter2_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter3_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <defs>
                            <filter id="filter0_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter1_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter2_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter3_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                        </defs>
                    </svg>
                    <img src="img/topdrops/card-img1.png" alt="champions
                    party">
                    <div class="topdrops__card-img_hashtag">
                        <span>topdrop</span>
                        <span># 00001</span>
                    </div>
                </figure>
                <div class="topdrops__card-footer flb-cc">
                    <button class="btn btn-primary show-popup" data-popup="gallery">Как это было</button>
                    <button class="btn btn-primary play-video-popup" data-video="files/popup-video1.mp4">Смотреть трейлер</button>
                </div>
            </div>
            <div class="topdrops__card">
                <div class="topdrops__card-header flb-cc">
                    <div class="topdrops__card-title">TOPDRAFT</div>
                    <div class="topdrops__card-subtitle">челленджи и турнир 3х3 на <span class="span-ff3 c-primary">Fonbase</span></div>
                </div>
                <figure class="topdrops__card-img">
                    <svg class="topdrops__card-img_blur" width="493" height="552" viewBox="0 0 493 552" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter1_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter2_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <g filter="url(#filter3_f_2_21131)">
                            <ellipse cx="240" cy="285" rx="53" ry="98" fill="#E80024" />
                        </g>
                        <defs>
                            <filter id="filter0_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter1_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter2_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                            <filter id="filter3_f_2_21131" x="-13" y="-13" width="506" height="596"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                    result="shape" />
                                <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_2_21131" />
                            </filter>
                        </defs>
                    </svg>
                    <img src="img/topdrops/card-img2.png" alt="TOPDRAFT">
                    <div class="topdrops__card-img_hashtag">
                        <span>topdrop</span>
                        <span># 00002</span>
                    </div>
                </figure>
                <div class="topdrops__card-footer flb-cc">
                    <button class="btn btn-primary show-popup" data-popup="day2gallery">Как это было</button>
                    <button class="btn btn-primary play-video-popup" data-video="files/popup-video1.mp4">Смотреть трейлер</button>
                </div>
            </div>
            <div class="topdrops__card">
                <div class="topdrops__card-header flb-cc">
                    <div class="topdrops__card-title2">SOON</div>
                </div>
                <figure class="topdrops__card-img">
                    <img src="img/topdrops/card-img3.png" alt="SOON">
                    <div class="topdrops__card-img_hashtag">
                        <span>topdrop</span>
                        <span># 00003</span>
                    </div>
                </figure>
                <div class="topdrops__card-footer flb-cc">
                    <button class="btn btn-primary show-popup" data-popup="popup-backcall">узнать <span class="span-ff3 ml5">первым</span></button>
                </div>
            </div>
        </div>
        <img src="img/topdrops/container-bg.svg" alt="" class="topdrops__section-container_decore">
    </div>
</div>