<div class="vplayer__section play-video-popup" data-video="files/popup-video1.mp4">
    <div class="vplayer__section-container flb-cs">
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span class="span-ff3">первым</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
        <button class="vplayer__btn flb-csb">
            <span class="vplayer__btn-title">
                ОТКРЫВАЙ <span>ТРЕЙЛЕР</span>
            </span>
            <svg class="vplayer__btn-icon">
                <use xlink:href="#icon-play"></use>
            </svg>
        </button>
    </div>
</div>